/* CSS declarations go here */

body{
    padding-top: 45px;
}
path{
  position:absolute;
  overflow:visible;
  z-index:10;
}
.compose{
	position: relative;
	top:40%;
	left:-4%;
	text-align: right;
	margin-left: 0px
}
.yield{
  -webkit-perspective: 900px;
}
#map {
  transform-style: preserve-3d;
  -webkit-transition: 5s;
  -webkit-transform: rotateX(25deg);
  overflow: visible;
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  -webkit-transition: 10s;
  transition-timing-function: linear;
}
.user-icon {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #ff8888;
}

.leaflet-popup-content {
   transform-origin: bottom center;
   position:relative;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
        -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);     

}
.nav-wrapper{
position: relative;
z-index: 999;
top: -45px;
}

.nav-fixed {

z-index: 999;
}

.side-nav{

}
.compose >textarea{
	height:100px;
	width:550px;

}

.leaflet-marker-pane {
  -webkit-perspective: 900px;
}
.leaflet-marker-icon {
  -webkit-transition: 10s;
  position: absolute;

}

.marker {
   transform-style: preserve-3d;
/*  transform:rotateX(120deg);*/
  transform-origin: bottom center;
  transition:5s;
  transition-timing-function: linear;
  /*transform:translateZ(5px) rotateX(85deg);*/
}
.close {
  /*background-image: url("message.png");
  background-size: 100% auto;*/

}
.far {
/*  background-image: url("message-off.png");
  background-size: 100% auto;*/
}
#login-dropdown-list {
  position: absolute;
  top: 50px;
  left: -195px;
  font-size: 2em;
}

.modal-box{
	background: white;
  border-radius: 10px;
  margin: 30px auto;
  max-height: 90%;
  max-width: 60%;
  min-height: 300px;
  min-width: 100px;
  overflow: scroll;
  padding: 25px;
}

.content{
  text-align: left;
  font-size: 14px;
  overflow: auto;
  height: 500px;
  width: 700px;
}

li:hover {
  cursor: pointer;
}

.nav-wrapper{
  background-color:#213556;
}

.tagged{
  float:right;
}

/*
* Modal styling
*/

.nautical {
  background: rgba(255, 255, 255, 0.1);
}

.anti-modal-overlay .anti-modal-box {
  border: 1px solid #0A536E;
  box-shadow: 0px 0px 5px rgba(10,83,110,1);
  color: #0A536E;
  text-align: center;
}

.anti-modal-body {
  background: #ffffff url('/sea-chart.jpg') no-repeat;
  background-size: cover;
}

.background {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 10px;
}

.back {
  color: #0A536E;
}
