/* CSS declarations go here */
.compose{
	position: relative;
	top:40%;
	left:-4%;
	text-align: right;
	margin-left: 0px
}

.side-nav{

}
.compose >textarea{
	height:100px;
	width:550px;

}

.leaflet-marker-icon {
  -webkit-transition: 10s;
  position: absolute;

}

.my-bottle {
  background-image: '/message.png'
}
#login-dropdown-list {
  position: absolute;
  top: 50px;
  left: -195px;
  font-size: 2em;
}

.modal-box{
	background: white;
  border-radius: 10px;
  margin: 30px auto;
  max-height: 90%;
  max-width: 60%;
  min-height: 300px;
  min-width: 100px;
  overflow: scroll;
  padding: 25px;
}

.content{
  text-align: left;
  font-size: 14px;
  overflow: auto;
  height: 600px;
  width: 300px;
}

li:hover {
  cursor: pointer;
}

.nav-wrapper{
  background-color:#213556;
}

/*
* Modal styling
*/

.nautical {
  background: rgba(255, 255, 255, 0.1);
}

.anti-modal-overlay .anti-modal-box {
  border: 1px solid #0A536E;
  box-shadow: 0px 0px 5px rgba(10,83,110,1);
  color: #0A536E;
  text-align: center;
}

.anti-modal-body {
  background: #ffffff url('/sea-chart.jpg') no-repeat;
  background-size: cover;
}

.background {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 10px;
}

.back {
  color: #0A536E;
}

.collection .collection-item.avatar i.circle{
  margin-top:24px;
  margin-left:10px;
}

.collection .collection-item.avatar{
  height: 120px;
  padding-left: 90px
}

.profile-list{
  padding-bottom:10px;
}

.panel{
  width:300px;
  position:fixed;
  top:64px;
  left:0;
  overflow:hidden;
  text-align: center;
}

#map {
  position:fixed;
  height: 100%;
  width: 100%;
  margin-left: 300px;
}

button.write{
  margin-top:20px;
}

/*ul{
  padding-left: 23px;
}*/

